<div class="container">
    <h2>User Settings</h2>
    
    <!-- We are assigning angular ngform object to our template variable form -->
    <form #form="ngForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" name="name" class="form-control" placeholder="Name" />
        </div>

        <div class="form-check">
            <input class="form-check-input" id="emailOffers" name="emailOffers" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="emailOffers">
                Email Special Offers
            </label>
        </div>

        <p>User Interface Style</p>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="radio" id="lightInterface" name="interfaceStyle" value="light" checked>
                <label class="form-check-label" for="lightInterface">
                    Light
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="mediumInterface" name="interfaceStyle" value="medium">
                <label class="form-check-label" for="mediumInterface">
                    Medium
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="darkInterface" name="interfaceStyle" value="dark">
                <label class="form-check-label" for="darkInterface">
                    Dark
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="subscriptionType">Subscription Type</label>
            <select class="form-control" id="subscriptionType">
                <option>Monthly</option>
                <option>Annual</option>
                <option>Lifetime</option>
            </select>
        </div>

        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea id="notes" name="notes" class="form-control" rows="3"></textarea>
        </div>
        
        <button class="btn btn-primary">Send</button>
    </form>
</div>